[Desktop Entry]
Name=sagora
GenericName=sagora
Comment=Stream live music
Comment[es]=Emite música en directo
Comment[ca]=Emiteix música en directe
Comment[ca_ES@valencia]=Emiteix música en directe
Comment[ca_ES.UTF-8@valencia]=Emiteix música en directe
Exec=/usr/bin/sagora
Terminal=false
Type=Application
Icon=sagora
Name[ca_ES.UTF-8@valencia]=Sagora
Name[ca@valencia]=Sagora
Name[ca_ES@valencia]=Sagora
Name[ca]=Sagora
Name[es_ES]=Sagora
Categories=KDE;QT;Audio;Network;
TryExec=sagora
