Source: sagora
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: llxsrchelper,debhelper (>= 7.0),libjack-dev,libqt5webview5-dev,qttools5-dev-tools
Standards-Version: 4.1.4
X-Python3-Version: >= 3.5
Homepage: http://sagora.org

Package: sagora
Architecture: all
Depends: ${misc:Depends}, jackd, libqt5core5a, libqt5dbus5, libqt5gui5, libqt5widgets5, qml-module-qtwebview
Description: Stream live music

