Package: sagora
Version: 1.0.1
Architecture: all
Maintainer: Equipo LliureX <lliurex@gva.es>
Installed-Size: 28918
Depends: jackd, libqt5core5a, libqt5dbus5, libqt5gui5, libqt5widgets5
Section: admin
Priority: optional
Homepage: http://lliurex.net
Description: Stream live music
